
  
  .swiper {
    width: 100%;
    height: 100vh;
  }
  @media only screen and (max-width: 900px) {
    .swiper{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  
  .swiper-button-next,
  .swiper-button-prev {
    scale: 0.5; 
    visibility: hidden;
  }



.swiper-pagination-bullet {
  background: #cbcbcb; 
  opacity: 0.7; 
}

.swiper-pagination-bullet-active {
  background: #00e5ff; 
  opacity: 1; 
}
.mySwiper {
  height: 400px; /* Change this to your desired height */
  width: 90vw;
}